/* css/_base.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--text-primary);
    transition: background-color var(--transition-speed) ease;
}

/* Base styles for responsive media */
@media print {
    body,
    .modal-actions,
    .details-actions,
    .close-modal-btn {
        visibility: hidden;
    }

    #barcode-display,
    #barcode-display * {
        visibility: visible;
    }

    #barcode-display {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        padding: 5mm;
        width: 100%;
        height: auto;
        border: none;
    }

    dialog {
        box-shadow: none;
        border: none;
    }

    @page {
        size: auto;
        margin: 0;
    }
}